



header {
  position: fixed;
  width: 100%;
  min-height: 85px;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding-top:30px;
  padding-bottom: 20px;
  padding-left: 120px;
}

#header-img {
  background-color: transparent;
  width: 20%;
}

.nav-link {
  color: white;
  text-align: right;
}

.container {
  padding-top: 150px;
  margin-top: 50px;
  font-family: 'Zen Antique Soft', serif;
}

