* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

header {
  position: fixed;
  width: 100%;
  min-height: 77px;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding-top:30px;
  padding-left: 120px;
}

#nav-bar {
  text-align: right;

}

.nav-link {
  color: white;
  text-align: right;
}

#header-img {
  background-color: transparent;
  width: 20%;
}
